.image {
  width: 9.375rem;
  height: 9.375rem;
  object-fit: cover;
  display: block;
}

.author {
  color: var(--mantine-color-gray-6);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.title {
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 0.25rem;
}

.price {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0.44rem;
  margin-bottom: 0.44rem;
}

.container {
  display: flex;
}

.details {
  margin-left: 1.25rem;
}
