.creator {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0.25rem;
}

.details {
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0.13rem;
}

.creator,
.details {
  color: var(--mantine-color-gray-6);
}

.description {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 1.25rem;
  margin-bottom: 2.5rem;
}

.bookListContainer {
  margin-bottom: 2.5rem;
}

.reviewContainer {
  margin-bottom: 2.5rem;
}
